@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

#nav {
  background-color: #040122;
  display: block;
  position: absolute;
  top: 40;
  width: 100%;
  z-index: 999;
}

#nav * {
  color: #fff;
  letter-spacing: 1px;
  font-family: orbitron, sans-serif;
}

.navbar {
  justify-content: space-between;
  padding: 1rem 3rem;
}

.navbar-brand {
  display: flex;
}

.navbar input[type="text"] {
  margin-left: 33%;
}

#nav .navbar-nav {
  gap: 1.4rem;
}

#nav .navbar-nav li a {
  position: relative;
}

#nav .navbar-nav li a::before {
  position: absolute;
  bottom: -2px;
  content: "";
  width: 0;
  background-color: #fff;
  height: 2px;
  right: 0;
  transition: all 0.3s ease-in-out;
}

#nav .navbar-nav li:hover a::before {
  width: 100%;
}

#home {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

#home::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.567);
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
}

#home .contain {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #eee9e9;
  gap: 2rem;
  padding: 0 3rem;
  font-family: orbitron, sans-serif;
}

#home .contain h1 {
  font-size: 2rem;
  letter-spacing: 4px;
  font-family: orbitron, sans-serif;
  line-height: 1;
  opacity: 0.9;
}

#home .contain h1 span {
  font-size: 4rem;
}

#home .contain p {
  font-size: 1.3rem;
  width: 52%;
}

#home .contain .button {
  width: fit-content;
  font-size: 1rem;
  padding: 0.9rem 1.8rem;
  font-weight: bold;
  border-radius: 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.567);
  backdrop-filter: blur(6px);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  animation: transitionIn 1s;
  background-color: #040122;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: transitionIn 1s;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  padding: 12px 12px;
  text-decoration: none;
  color: #fdfdfd;
}

.socials a i {
  font-size: 30px;
  transition: color 0.4s ease;
}

.socials a:hover {
  color: rgb(172, 23, 85);
}

.footer-bottom {
  text-align: center;
  background-color: #040122;
}

.footer-bottom p {
  font-size: 13px;
  font-family: orbitron, sans-serif;
  word-spacing: 3px;
  text-transform: capitalize;
  padding-top: 5px;
  color: #ffffff;
}

@media (max-width: 1006px) {
  #home .contain p {
    width: 100%;
  }
}

@media (max-width: 688px) {
  html {
    font-size: 80%;
  }
  #home .contain {
    text-align: center;
    align-items: center;
  }
}
